[
%% common configurations
{rabbit,
    [
        {loopback_users, []},
        {hipe_compile, true}
    ]
},

%% kernel
{kernel, []},

%% management
{rabbitmq_management, []},

%% shovel configurations
{rabbitmq_shovel,
    [
        {shovels,
            [
                {mq1_to_mq2,
                    [
                        {sources,
                            [
                                {brokers, ["amqp://guest:guest@shpbs01-rd-openstack003075:5672/%2f"]},
                                {declarations,
                                    [
                                        {'exchange.declare',
                                            [
                                                {exchange, <<"shovel">>},
                                                {type, <<"topic">>},
                                                {durable, false}
                                            ]
                                        },
                                        {'exchange.declare',
                                            [
                                                {exchange, <<"to_mq2">>},
                                                {type, <<"topic">>},
                                                {durable, false}
                                            ]
                                        },
                                        {'queue.declare',
                                            [
                                                {queue, <<"to_mq2">>}
                                            ]
                                        },
                                        {'queue.bind',
                                            [
                                                {exchange, <<"to_mq2">>},
                                                {queue, <<"to_mq2">>},
                                                {routing_key, <<"#">>}
                                            ]
                                        }
                                    ]
                                }
                            ]
                        },
                        {destinations,
                            [
                                {brokers, ["amqp://stackrabbit:1234qwer@192.168.222.128:5672/%2f"]},
                                {declarations,
                                    [
                                        {'exchange.declare',
                                            [
                                                {exchange, <<"shovel">>},
                                                {type, <<"topic">>},
                                                {durable, false}
                                            ]
                                        }
                                    ]
                                }
                            ]
                        },
                        {queue, <<"to_mq2">>},
                        {prefetch_count, 1},
                        {ack_mode, on_confirm},
                        {publish_properties, [{delivery_mode, 2}]},
                        {add_forward_headers, true},
                        {reconnect_delay, 2.5},
                        {publish_fields,
                            [
                                {exchange, <<"shovel">>}
                            ]
                        }
                    ]
                },
                {mq2_to_mq1,
                    [
                        {sources,
                            [
                                {brokers, ["amqp://stackrabbit:1234qwer@192.168.222.128:5672/%2f"]},
                                {declarations,
                                    [
                                        {'exchange.declare',
                                            [
                                                {exchange, <<"to_mq1">>},
                                                {type, <<"topic">>},
                                                {durable, false}
                                            ]
                                        },
                                        {'exchange.declare',
                                            [
                                                {exchange, <<"shovel">>},
                                                {type, <<"topic">>},
                                                {durable, false}
                                            ]
                                        },
                                        {'queue.declare',
                                            [
                                                {queue, <<"to_mq1">>}
                                            ]
                                        },
                                        {'queue.bind',
                                            [
                                                {exchange, <<"to_mq1">>},
                                                {queue, <<"to_mq1">>},
                                                {routing_key, <<"#">>}
                                            ]
                                        }
                                    ]
                                }
                            ]
                        },
                        {destinations,
                            [
                                {brokers, ["amqp://guest:guest@shpbs01-rd-openstack003075:5672/%2f"]},
                                {declarations,
                                    [
                                        {'exchange.declare',
                                            [
                                                {exchange, <<"shovel">>},
                                                {type, <<"topic">>},
                                                {durable, false}
                                            ]
                                        }
                                    ]
                                }
                            ]
                        },
                        {queue, <<"to_mq1">>},
                        {prefetch_count, 1},
                        {ack_mode, on_confirm},
                        {publish_properties, [ {delivery_mode, 2} ]},
                        {add_forward_headers, true},
                        {reconnect_delay, 2.5},
                        {publish_fields,
                            [
                                {exchange, <<"shovel">>}
                            ]
                        }
                    ]
                }
            ]
        }
    ]
},

{rabbitmq_stomp, []},
{rabbitmq_mqtt, []},
{rabbitmq_amqp1_0, []},
{rabbitmq_auth_backend_ldap, []}
].